

#content{
    flex: 1;
}
body{
    background-color: rgb(107, 105, 105);
    display: flex;
    min-height: 100%;
    flex-direction: column;
 
}

#myHead{
    background-color: rgb(172, 119, 23);
    text-align: center;
    height: 75px;
}
#chrisPic{
    display: flex;
    justify-content: center;
    height: 200px;
    widows: 150px;
    transform: rotate(90deg);
    border-radius: 55%;
    border-style: solid;
}
#email{
    height: 34px;
    width: 34px;
    display: flex;
    float: left;
}
#faceBook{
    height: 34px;
    width: 34px;
}

#footer {
  display: flex;  
  background: rgb(143, 28, 28);
  height: 100px;
  align-content: center;
  justify-content: center;  
}
