body{
    background-color: rgb(107, 105, 105);
}

#myHead{
    background-color: rgb(172, 119, 23);
}

header{
    text-align: center;
}

#chrisPic{
    height: 200px;
    widows: 150px;
    transform: rotate(90deg);
    border-radius: 55%;


}